#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.game-board {
  padding: 1rem;
  border: 2px solid blue;
  border-radius: 2px;
  background-color: darkgrey;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  gap: 1rem;
}

.card {
  padding: 1rem;
  border: 2px solid blue;
  border-radius: 0.35rem;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.5);
  background-color: lightgray;

  display: flex;
  justify-content: center;
  align-items: center;

  min-height: 200px;
  min-width: 200px;

  position: relative;
  transform-style: preserve-3d;
  transition: 150ms;
  cursor: pointer;
  transform: perspective(500px) rotateY(var(--rotate-y, 0))
    translateY(var(--translate-y, 0));
}

.card:hover {
  --translate-y: -2px;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.5);
  opacity: 1;
}

.card.flip {
  background-color: black;
  --rotate-y: 180deg;
}

.card .front {
  left: 0;
}

.card .front,
.card .back {
  position: absolute;
  padding: 1rem;
  backface-visibility: hidden;
}

.card .back {
  transform: rotateY(180deg);
}

.logo {
  scale: 0.75;
}
